<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>Emergency Department Information System</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link href="../static/css/style.css" rel="stylesheet">
      <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
   </head>
   <body class="dachboard">
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
         <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index">Emergency Department</a>
         <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <ul class="navbar-nav px-3">
            <p class="text-white bg-dark"> Welcome back Dr.{{ current_user.name }}!</p>
         </ul>
         <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="logout">Logout</a>
            </li>
         </ul>
      </header>
      <div class="container-fluid">
         <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
               <div class="position-sticky pt-3">
                  <ul class="nav flex-column">
                    
                     <li class="nav-item">
                        {% if current_user.has_roles('Doctor') %} {#only show this item if the user logged in role's = Doctor#}
                        <a class="nav-link active" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Reports
                        </a>
                        {% endif %}
                     </li>
                     <li class="nav-item">
                        {% if current_user.has_roles('Admin') %} {#only show this item if the user logged in role's = Admin#}
                        <a class="nav-link" href="dashboard-control">
                        <span data-feather="users"></span>
                        Control
                        </a>
                        {% endif %}
                     </li>
                     <li class="nav-item">
                        {% if current_user.has_roles('Admin') %} {#only show this item if the user logged in role's = Admin#}
                        <a class="nav-link" href="dashboard-database">
                        <span data-feather="bar-chart-2"></span>
                        Database
                        </a>
                        {% endif %}
                     </li>
                  </ul>
               </div>
            </nav>
            <br/><br/><br/> 
            <hr>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
               {#Events Table,#}
               <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">My Events</h1>
               </div>
               <div class="table-responsive">
                  <table class="table table-striped table-sm">
                     <thead>
                        <tr>
                           <th>Title</th>
                           <th>Start Time</th>
                           <th>End Time</th>
                           <th>description</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for row in event_rows %}        
                        <tr>
                           <td>{{row["title"]}}</td>
                           <td>{{row["start"]}}</td>
                           <td>{{row["end"]}}</td>
                           <td>{{row["description"]}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <br/><br/><br/> 
               <hr>
               <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Patients</h1>
               </div>
               <div class="table-responsive">
                  <table class="table table-striped table-sm">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>ID</th>
                           <th>Medical History</th>
                           <th>Age</th>
                           <th>Gender</th>
                           <th>Entering Date</th>
                           <th>Leaving Date</th>
                           <th>Action</th>
                           <th>Images</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for row in patient_rows %}        
                        <tr>
                           <td>{{row["name"]}}</td>
                           <td>{{row["national_id"]}}</td>
                           <td>{{row["medical_history"]}}</td>
                           <td>{{row["age"]}}</td>
                           <td>{{row["gender"]}}</td>
                           <td>{{row["enter"]}}</td>
                           <td>{{row["leave"]}}</td>
                           <td>{{row["action"]}}</td>
                           <td><a href="{{row["national_id"]}}">Album</a></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <br/><br/><br/> 
               <hr>
               <h2>New Report</h2>
               {# flash msg code #}
               {% with messages = get_flashed_messages() %}
               {% if messages %}
               {% for message in messages %}
               <p>{{ message }}</p>
               {% endfor %}
               {% endif %}
               {% endwith %}
               <form action="/dashboard-report-post" method="POST">
                  <div class="form-group">
                     
                  <select name="national_id" class="form-control" aria-label="ID" required>
                     <option selected>ID</option>
                     {% for patient in patient_rows %}
                     <option value="{{patient.national_id}}">{{patient.name}}: {{ patient.national_id }}</option>
                     {% endfor %}
                  </select>
                     <input type="text"  class="form-control" value="" name="leave" placeholder="Leaving-Time" id="datetimepicker" data-date-format="yyyy-mm-dd hh:ii" required>
                     <textarea name="action" id="description" class="form-control" cols="30" rows="10"
                        placeholder="Your description...."></textarea>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
               </form>
               <hr>
            </main>
         </div>
      </div>
      <script>
         $('#datetimepicker').datetimepicker();
      </script>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
         integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
         integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
         crossorigin="anonymous"></script>
      <script src="js/dashboard.js"></script>
      <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
      <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
      <script type="text/javascript">
         $(".form_datetime").datetimepicker({
             format: "yyyy-mm-dd hh:ii",
             autoclose: true,
             todayBtn: true,
             startDate: "2021-01-15 10:00",
             minuteStep: 10
         });
         $('#datetimepicker').datetimepicker();
      </script>            
   </body>
</html>