<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <title>Emergency Department Information System</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link href="../static/css/style.css" rel="stylesheet">
      <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
   </head>
   <body class="dashboard">
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
         <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index">Emergency Department</a>
         <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="logout">Logout</a>
            </li>
         </ul>
      </header>
      <div class="container-fluid">
         <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
               <div class="position-sticky pt-3">
                  <ul class="nav flex-column">
                     
                     <li class="nav-item">
                        {#only show this item if the user logged in role's = Doctor#}
                        {% if current_user.has_roles(Doctor) %}
                        <a class="nav-link" href="dashboard-report">
                        <span data-feather="bar-chart-2"></span>
                        Reports
                        </a>
                        {% endif %}
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="#">
                        <span data-feather="users"></span>
                        Control
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="dashboard-database">
                        <span data-feather="bar-chart-2"></span>
                        Database
                        </a>
                     </li>
                  </ul>
               </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
               <div class="alert alert-dark" role="alert">
                  {# flash msg code #}
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  {% for message in messages %}
                  <p>{{ message }}</p>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
               </div>
               <h2>Add Patient</h2>
               <form action="/dashboard-add-patient" method="POST" enctype="multipart/form-data">
                  <input name="name" type="text" aria-label="Name" class="form-control" placeholder="Name" required
                     autofocus>
                  <input name="email" type="email" aria-label="Email" class="form-control" placeholder="Email address" required
                     autofocus>
                  <input name="medical_history" type="text" aria-label="Medical History" class="form-control" placeholder="Medical History" required autofocus>
                  <input name="Address" type="text" aria-label="Address" class="form-control" placeholder="Address" required autofocus>
                  <input name="national_id" type="number" aria-label="national_id" class="form-control" placeholder="ID" required autofocus>
                  <input name="age" type="number" aria-label="age" class="form-control" placeholder="age" required autofocus>
                  <input name="phone_num" type="number" aria-label="Phone Number" class="form-control" placeholder="Phone Number" required autofocus>
                  <input type="text"  class="form-control" value="" name="enter" placeholder="Entering-Time" id="datetimepicker1" data-date-format="yyyy-mm-dd hh:ii" required>
                  <select name="gender" class="form-control" aria-label="Gender">
                     <option selected>Gender</option>
                     <option value="Male">Male</option>
                     <option value="Female">Female</option>
                  </select>
                  <div class="Uphoto form-control">
                     <input type="file" aria-label="Upload your photo" class="form-control" name="inputFile" accept="image/*" multiple="multiple" >
                  </div>
                  <button class="w-60 btn btn-lg btn-primary" type="submit">Add Patient</button>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Add Admin</h2>
               <form action="/dashboard-add-admin" method="POST" >
                  <input name="name" type="text" aria-label="Name" class="form-control" placeholder="Name" required
                     autofocus>
                  <input name="secret_key" type="text" aria-label="secret key" class="form-control" placeholder="SECRET KEY" required
                     autofocus>
                  <input name="email" type="email" aria-label="Email" class="form-control" placeholder="Email address" required
                     autofocus>
                  <input name="password" type="password" aria-label="Password" class="form-control" placeholder="Password" required
                     autofocus>
                  <button class="w-60 btn btn-lg btn-primary" type="submit">Add Admin</button>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Update Doctor</h2>
               <form action="/dashboard-edit-doctor" method="POST" >
               
                  <select name="national_id" class="form-control" aria-label="ID">
                     <option selected>ID</option>
                     {% for doctor in doctor_rows %}
                     <option value="{{doctor.national_id}}">{{doctor.name}}: {{ doctor.national_id }}</option>
                     {% endfor %}
                  </select>
               
                  <input name="new_email" type="email" aria-label="Email" class="form-control" placeholder="Email address">
                  <input name="new_department" type="text" aria-label="New Department" class="form-control" placeholder="New Department">
                  <input name="new_phone_num" type="number" aria-label="New Phone Number" class="form-control" placeholder="New Phone Number">
                  <button class="w-60 btn btn-lg btn-primary" type="submit">Update Doctor</button>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Add Event</h2>
               <form action="/dashboard-add-event" class="form-horizontal"  role="form" method="POST">
               <select name="national_id" class="form-control" aria-label="ID">
                     <option selected>ID</option>
                     {% for doctor in doctor_rows %}
                     <option value="{{doctor.national_id}}">{{doctor.name}}: {{ doctor.national_id }}</option>
                     {% endfor %}
               </select>

                  <input name="title" type="text" aria-label="Title" class="form-control" placeholder="Title" required>
                  <input name="description" type="text" aria-label="description" class="form-control" placeholder="description" required>
                  <input type="text"  class="form-control" value="" name="start" placeholder="Starting-Time" id="datetimepicker2" data-date-format="yyyy-mm-dd hh:ii" required>
                  <input type="text"  class="form-control" value="" name="end" placeholder="Ending-Time" id="datetimepicker3" data-date-format="yyyy-mm-dd hh:ii" required>

                  <button class="w-60 btn btn-lg btn-primary" type="submit">Add Event</button>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Edit Event</h2>
               <form action="/dashboard-edit-event" method="POST" >
               <div class="form-group">
                  <select name="national_id" class="form-control" aria-label="ID">
                     <option selected>ID</option>
                     {% for doctor in doctor_rows %}
                     <option value="{{doctor.national_id}}">{{doctor.name}}: {{ doctor.national_id }}</option>
                     {% endfor %}
                  </select>
                  <select name="event_id" class="form-control" aria-label="Event ID">
                     <option selected>Event ID</option>
                     {% for event in event_rows %}
                     <option value="{{event.id}}">{{event.id}}, Title: {{ event.title }}</option>
                     {% endfor %}
                  </select>
                  <input name="title" type="text" aria-label="Title" class="form-control" placeholder="New Title">
                  <input name="description" type="text" aria-label="description" class="form-control" placeholder="New Description">
                  <input type="text"  class="form-control" value="" name="start" placeholder="Start-Time" id="datetimepicker4" data-date-format="yyyy-mm-dd hh:ii" required>
                  <input type="text" class="form-control" value="" name="end" placeholder="End-Time" id="datetimepicker5" data-date-format="yyyy-mm-dd hh:ii" required>
                  <button class="w-60 btn btn-lg btn-primary" type="submit">Edit Event</button>
               </div>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Update Patient</h2>
               <form action="/dashboard-edit-patient" method="POST" enctype="multipart/form-data">
                  <select name="national_id" class="form-control" aria-label="ID" required>
                     <option selected>ID</option>
                     {% for patient in patient_rows %}
                     <option value="{{patient.national_id}}">{{patient.name}}: {{ patient.national_id }}</option>
                     {% endfor %}
                  </select>
                  <input name="new_email" type="email" aria-label="Email" class="form-control" placeholder="Email address" >
                  <input name="new_medical_history" type="text" aria-label="Medical History" class="form-control" placeholder="Medical History" >
                  <input name="new_Address" type="text" aria-label="Address" class="form-control" placeholder="Address" >
                  <input name="new_phone_num" type="number" aria-label="Phone Number" class="form-control" placeholder="Phone Number">
                  <div class="Uphoto form-control">
                     <input type="file" aria-label="Upload your photo" class="form-control" name="inputFile" accept="image/*" multiple="multiple" >
                  </div>
                  <button class="w-60 btn btn-lg btn-primary" type="submit">Update Patient</button>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Delete Patient</h2>
               <form action="/dashboard-delete-patient" method="POST">
                  <div class="form-group">
                  
                  <select name="national_id" class="form-control" aria-label="Patient ID" required>
                     <option selected>ID</option>
                     {% for patient in patient_rows %}
                     <option value="{{patient.national_id}}">{{patient.name}}: {{ patient.national_id }}</option>
                     {% endfor %}
                  </select>
                     <button type="submit" class="btn btn-danger">Delete Patient</button>
                  </div>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Delete Doctor</h2>
               <form action="/dashboard-delete-doctor" method="POST">
                  <div class="form-group">
                     
                  <select name="national_id" class="form-control" aria-label="Doctor ID" required>
                     <option selected>ID</option>
                     {% for doctor in doctor_rows %}
                     <option value="{{doctor.national_id}}">{{doctor.name}}: {{ doctor.national_id }}</option>
                     {% endfor %}
                  </select>
                     <button type="submit" class="btn btn-danger">Delete Doctor</button>
                  </div>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Delete Admin</h2>
               <form action="/dashboard-delete-admin" method="POST">
                  <div class="form-group">
                  <select name="email" class="form-control" aria-label="Admin Email" required>
                     <option selected>ID</option>
                     {% for admin in admin_rows %}
                        <option value="{{admin.email}}">{{admin.name}}: {{ admin.email }}</option>
                     {% endfor %}
                  </select>
                     <button type="submit" class="btn btn-danger">Delete Admin</button>
                  </div>
               </form>
               <br></br> 
               <hr>
               </hr>
               <h2>Delete Event</h2>
               <form action="/dashboard-delete-event" method="POST">
                  <div class="form-group">
                  <select name="event_id" class="form-control" aria-label="Event ID">
                     <option selected>Event ID</option>
                     {% for event in event_rows %}
                        <option value="{{event.id}}">{{event.id}}, Title: {{ event.title }}</option>
                     {% endfor %}
                  </select>
                     <button type="submit" class="btn btn-danger">Delete Event</button>
                  </div>
               </form>
               <br></br> 
               <hr>
               </hr>
            </main>
            <footer class="mt-auto text-white-50">
               <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
            </footer>
         </div>
      </div>
      </div>
      <script>
         $('#datetimepicker').datetimepicker();
      </script>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
         integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
         integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
         crossorigin="anonymous"></script>
      <script src="js/dashboard.js"></script>
      <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
      <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
      <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
      <script type="text/javascript">
         $('.form_datetime').datetimepicker({
             //language:  'fr',
             weekStart: 1,
             todayBtn:  1,
         autoclose: 1,
         todayHighlight: 1,
         startView: 2,
         forceParse: 0,
             showMeridian: 1
         });
         $('.form_date').datetimepicker({
             language:  'fr',
             weekStart: 1,
             todayBtn:  1,
         autoclose: 1,
         todayHighlight: 1,
         startView: 2,
         minView: 2,
         forceParse: 0
         });
         $('.form_time').datetimepicker({
             language:  'fr',
             weekStart: 1,
             todayBtn:  1,
         autoclose: 1,
         todayHighlight: 1,
         startView: 1,
         minView: 0,
         maxView: 1,
         forceParse: 0
         });
         $('#datetimepicker1').datetimepicker();
         $('#datetimepicker2').datetimepicker();
         $('#datetimepicker3').datetimepicker();
         $('#datetimepicker4').datetimepicker();
         $('#datetimepicker5').datetimepicker();
         $('#datetimepicker6').datetimepicker();
      </script>
   </body>
</html>